@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 100;}
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

  background: linear-gradient(
    #dcfbd2,
    #8fdbc5,
    #66aec5,
    #4987b8,
    #377197
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  font-size: 3em;
  margin: 1em 0;
}

.game-container {
  flex: 1;
}

.roundResult {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.runningScore {
  display: flex;
  justify-content: center;
  gap: 8em;
  margin-bottom: 3em;
}

.playerSelection,
.computerSelection {
  width: 128px;
  height: 128px;
  margin-bottom: 0.25em;
}
.playerSelection img,
.computerSelection img {
  width: 100%;
}

.gameResult {
  font-size: 1.5em;
  margin-bottom: 1em;
  animation: opacity 3s;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.sign, .replay {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  width: 128px;
  height: 64px;
  border: 4px solid #000;
  border-radius: 3px;
  transition: 250ms;
}

.sign:hover, .replay:hover {
  background-color: #ffffff;
  transform: scale(1.10);
}

.replay {
  animation: opacity 1s ease-out;
}

.footer {
  font-size: 0.8em;
  padding: 1.25rem 0;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 350px;
  align-self: center;
}

a {
  color: #0051ef;
}
.author a {
  color: #000;
}

a:visited {
  color:#34468e;
}
.author a:visited {
  color: #000;
}

a:active {
  color: #000;
}